body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
	padding-bottom: 40px;
	background-color: #EFEFFB;
	color: #0B0B61;
	bgcolor: #0B0B61;
	margin: dashed;
	padding: dashed;
	font-family: dashed;
}

#content h1 {
	font-style: italic;
	font-weight: bold;
	font-size: 2em;
	font-color: #0B0B61;
	font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
}

h1 {
	font: bold 230%/100% "Lucida Grande";
	position: relative;
	color: #00FF00;
}

h1 span {
	background: url(gradient.png) repeat-x;
	position: absolute;
	display: block;
	width: 100%;
	height: 31px;
}

.button-left {
	color: #D8D8D8;
	background-color: #6E6E6E;
	display: block;
	font: normal 23px arial, sans-serif;
	font-style: italic;
	height: 44px;
	margin-right: 511px;
	padding-right: 14px;
	/* no debe sobrepasa la anchura de la imagen que utilizamos arriba */
	text-decoration: blink;
	border-width: 2px;
	border-style: dashed;
	border-color: #1C1C1C;
	margin: dashed;
}

.button-left span {
	background: transparent url(’bttn_left.jpg’) no-repeat;
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.form-narrow {
	max-width: 500px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}